<!DOCTYPE html>

<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-1.7.2.js"
            integrity="sha256-FxfqH96M63WENBok78hchTCDxmChGFlo+/lFIPcZPeI="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/resume.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resume.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/resume.ico') }}">
    <meta charset="UTF-8">
    <title>I'm ktln176</title>
</head>

<body id="body" onload="mystart()">
<div id="header" onclick="header_click()"></div>
<div id="general">
    <div id="region1" class="region">
        <P id="title1" class="title">基本信息</P>
        <ul id="person_info_ul">
            <li class="info">朱星强</li>
            <li class="info">22岁<p class="split">|</p>男<p class="split">|</p>大专<p class="split">|</p>2年经验</li>
            <li class="info">17670524907<p class="split">|</p>ktln176@163.com</li>
        </ul>
        <img src="{{ url_for('static', filename='img/resume.jpg') }}" id="profile_info" alt="resume">
    </div>
    <div id="region2" class="region">
        <p class="title">求职意向</p>
        <p id="region2_p">Python开发工程师&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9k - 12k</p>
    </div>
    <div id="region3" class="region">
        <p id="title3" class="title">个人优势</p>
        <ul id="advantage_info_ul">
            <li class="advantage_info">1、熟悉python语言，有独立开发项目经验。</li>
            <li class="advantage_info">2、熟悉flask框架，掌握restful API开发。</li>
            <li class="advantage_info">3、掌握MySQL和Redis数据库。</li>
            <li class="advantage_info">4、掌握Linux的基本使用和Git、SVN等工具。</li>
            <li class="advantage_info">5、有使用docker进行容器化部署经验。</li>
            <li class="advantage_info">6、了解HTML、css、js、jQuery等前端知识。</li>
            <li class="advantage_info">7、到岗时间:收到offer后七天内。</li>
        </ul>
    </div>
    <div id="region4" class="region">
        <P id="title4" class="title">工作经历</P>
        <li class="company_title">深圳市华博智慧科技有限公司</li>
        <li class="work_info">1、</li>
    </div>
</div>
<div id="header"></div>
</body>

</html>
